[submodule "public"]
	path = public
	url = git@github.com:leonardo-casamayor/leonardo-casamayor.github.io.git
[submodule "themes/hugo-profile"]
	path = themes/hugo-profile
	url = https://github.com/gurusabarish/hugo-profile.git
